@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}
.header {
    min-height: 895px;
    background-image: url(../img/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_nav-flex {
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_navigation-flex {
    display: flex;
    list-style: none;
    margin: 0;
    min-width: 665px;
    padding-left: 0;
}
.header_navigation-flex li a {
    text-decoration: none;
    color: #292929;
    font-size: 20px;
    font-weight: 500;
    margin-right: 72px;
}
.btn_sign-in {
    width: 62px;
    height: 24px;
    border: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin-right: 34px;
}
.btn_trial {
    width: 183px;
    height: 51px;
    border: 1px solid #01996D;
    background-color: #01996D;
    border-radius: 4px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px; 
}
.header h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Georgia', serif;
    max-width: 440px;
    color: #01996D;
    margin-top: 0;
    padding-top: 176px;
    margin-bottom: 30px;
}
.header p {
    font-size: 20px;
    max-width: 420px;
    color: #484848;
    height: 123px;
    margin-bottom: 18px;
    margin-top: 0;
    font-weight: 400;
    line-height: 144.5%;
}
.header_btn-find {
    width: 227px;
    height: 65px;
    border-radius: 4px;
    padding: 20px 40px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.content_flex {
    padding-top: 168px;
    display: flex;
    justify-content: space-between;
}
.content_flex-left-text {
    width: 584px;
}
.content_p {
    color: #424242;
    font-size: 24px;
    font-weight: 600;
    line-height: 157%; /* 37.68px */
}
.content_h2 {
    color: #01996D;
    font-family: 'Georgia', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%; /* 78.5px */
}
.content_flex-right-text {
    padding-top: 61px;
}
.content_p-text {
    width: 657px;
    padding-left: 8px;
}
.content_p-text {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.05px;
}
.content_wrap-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    margin-bottom: 46px;
}
.content_wrap-grid-item {
    min-height: 1200px;
}
.content_number {
    color: rgba(1, 153, 109, 0.20);
    font-size: 150px;
    font-family: 'Georgia', serif;
    font-weight: 400;
    line-height: 150%;
    position: relative; 
    margin-bottom: 10px;
    padding-top: 52px;
}
.content_wrap-grid-item:nth-child(2) .content_number {
    padding-top: 53px;
    padding-left: 8px;
    top: 286px;
    left: 0px;
}
.content_wrap-grid-item:nth-child(3) .content_number {
    padding-top: 53px;
    padding-right: 0px;
    top: 55px;
    left: 0px;
    margin-bottom: 53px;
}
.content_h3 {
    color: #000;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 150%; 
    margin: 0;
    white-space: nowrap;
    position: absolute;
    content: '';
    top: 188px;
    left: 84px;  
} 
.content_wrap-grid-item:nth-child(3) .content_h3 {
    top: 187px;
    left: 125px;
}
.content_p-inner {
    width: 387px;
}
.content_wrap-grid-item:nth-child(2) .content_p-inner {
    padding-top: 288px;
    margin-bottom: 39px;
    padding-left: 5px;
}
.content_wrap-grid-item:nth-child(3) .content_p-inner {
    margin-bottom: 0px;
    width: 410px;
}
.content_wrap-grid-item:nth-child(2) .content_p-texts {
    margin-bottom: 35px;
}
.content_wrap-grid-item:nth-child(3) .content_p-texts {
    margin-bottom: 53px;
}
.content_p-texts  {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 145%; 
    margin-bottom: 59px;
}
.content_wrap-grid-item:nth-child(3) {
    padding-left: 17px;
}
.video {
    min-height: 922px;
    background-color: #245852;
}
.container_video {
    max-width: 1507px;
    width: 100%;
    margin: 0 auto;
}
.video_flex {
    display: flex;
    justify-content: space-between;
}
.video_flex-left {
    padding-top: 310px;
}
.video_h2 {
    color: #FFF;
    font-family: 'Georgia', serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 157%; /* 78.5px */
    margin-bottom: 33px;
}
.video_p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 157%; /* 39.25px */
    margin-bottom: 57px;
}
.video_btn {
    width: 240px;
    height: 65px;
    border-radius: 4px;
    border: 1px solid #01996D;
    background: #01996D;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px; /* 125% */
}
.video_flex-right {
    padding-top: 228px;
}
.product_flex {
    display: flex;
    justify-content: center;
    padding-top: 109px;
}
.product__flex-left {
    height: 825px;
}
.product_img {
    padding-left: 61px;
    padding-top: 10px;
}
.product_photo {
    border-radius: 18.112px;
    width: 638px;
}
.product_ava {
    width: 296px;
    height: 294px;
    border-radius: 3.73px;
    background: #FFF;
    position: relative;
    top: -225px;
    text-align: center;
}
.product_h5 {
    color: #000;
    text-align: center;
    font-size: 14.49px;
    font-weight: 600;
    line-height: 157%; /* 22.749px */
    padding-top: 24px;
    margin-bottom: 9px;
}
.product_line {
    width: 110.486px;
    height: 0.746px;
    background-color: #000;
    margin: 0 auto;
    margin-bottom: 12px;
}
.product_ava-img {
    margin-bottom: 8px;
}
.product_name_p {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 11.935px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%; /* 18.738px */
    margin-bottom: 21px;
}
.product_h6 {
    color: #000;
    font-family: 'Georgia', serif;
    font-size: 15.929px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%; /* 25.009px */
    margin-bottom: 16px;
    }
.product_list {
    color: #000;
    text-align: center;
    font-size: 10.619px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%; /* 16.673px */
    list-style: none;
    text-align: left;
    padding-left: 61px;
}
.product_list li:first-child {
    margin-bottom: 16px;
}
.product_text {
    min-inline-size: 670px;
    padding-left: 88px;
    padding-top: 10px;
}
.product_h4 {
    color: #424242;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 157%; /* 39.25px */
    padding-bottom: 10px;
}
.product_h2 {
    color: #01996D;
    font-family: 'Georgia', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%; /* 78.5px */
    margin-bottom: 17px;
}
.product_p {
    color: #484848;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%; /* 31.4px */
    margin-bottom: 30px;
}
.product_btn {
    width: 227px;
    height: 65px;
    border-radius: 4px;
    border: 1px solid #01996D;
    background: #01996D;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
}
.footer {
    background-color: #245852;
    padding-top: 105px;
    min-height: 654px;
}
.footer .logo {
    margin-bottom: 70px;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.footer ul li a:hover {
    opacity: 0.8;
}
.footer ul li {
    margin-bottom: 60px;
}
.footer ul li:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 1550px) {
    .video_flex {
        flex-direction: column;
        align-items: center;
    }
        .video_flex-left {
        padding-top: 150px;
        text-align: center;
    }
    .video_flex-right {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 1400px) {
    .header_nav-flex {
        justify-content: space-around;
    }
    .content_flex {
        display: block;
        text-align: center;
    }
    .content_flex-left-text {
        margin: 0 auto;
    }
    .content_p-text {
        margin: 0 auto;
    }
    .content_wrap-grid {
        display: block;
        padding-top: 50px;
    }
    .content_wrap-grid-item {
        display: flex;
        min-height: 300px;
        justify-content: space-around;
        margin-bottom: 35px;
    }
    .content_p-inner {
        padding-top: 145px;
    }
    .content_number {
        padding-top: 0;
    }
    .content_h3 {
        top: 105px;
    }
    .content_wrap-grid-item:nth-child(2) .content_number {
        top: 0px;
        padding-top: 0;
    }
    .content_wrap-grid-item:nth-child(3) .content_number {
        top: 0px;
        padding-top: 0;
    }
    .content_wrap-grid-item:nth-child(2) .content_p-inner {
        padding-top: 150px;
}
    .content_wrap-grid-item:nth-child(3) .content_h3 {
        top: 110px;
        left: 75px;
}
    .product_flex {
        flex-direction: column;
        align-items: center;
    }
    .product_flex-right {
        text-align: center;
    }
    .product_text {
        padding: 0 0 20px 0;
    }
}
@media screen and (max-width: 1400px) {
    .header_nav-flex {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-width: auto;
    }
    .header_nav-flex li a {
        margin-right: auto;
    }
    .header_logo {
        margin-bottom: 10px;
    }
    .header_navigation-flex {
        margin-bottom: 10px;
        justify-content: space-around;
    }
}
@media screen and (max-width: 950px) {
    video {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 800px) {
    .header_navigation-flex {
        min-width: auto;
    }
    .header_navigation-flex li a {
        margin-right: 0;
    }
    .content_wrap-grid-item {
        flex-direction: column;
    }
    .content_number {
        margin: 0 auto;
    }
    .content_p-inner {
        margin: 0 auto;
        width: auto;
    }
    .content_wrap-grid-item:nth-child(3) .content_p-inner {
        margin: 0 auto;
        width: auto;
    }
    .product_photo {
        margin: 0 auto;
        width: auto;
    }
}
@media screen and (max-width: 730px) {
    video {
        /* width: 600px;
        height: 350px; */
    }
    .header_navigation-flex {
        flex-direction: column;
        align-items: center;
    }
    .header_navigation-flex li a {
        margin-right: 0;
    }
    .product_photo {
        width: 450px;
    }
}
@media screen and (max-width: 670px)  {
    .container {
        width: 100%;
    }
    .header_navigation-flex {
        display: block;
        text-align: center;
    }
    .content_number {
        margin: 0;
    }
    .content_h2 {
        font-size: 40px;
    }
    .content_flex-left-text {
        width: auto;
    }
    .content_p-text {
        width: auto;
    }
    .product_h2 {
        width: auto;
    }
    .product_p {
        width: auto;
    }
    .product_text {
        min-inline-size: 300px;
    }
}
@media screen and (max-width: 485px) {
     .product_photo {
        width: 300px;
    }
}
@media screen and (max-width: 485px) {
    .product_ava {
        top: 0px;
        left: 0px;
        margin: 0 auto;
        width: auto;
        height: auto;
    }
    .content_h3 {
        font-size: 16px;
    }
    .product_img {
        padding-left: 0;
        width: auto;
    }
}
@media screen and (max-width: 300px) {
    .product_photo {
        width: 250px;
    }
    .content_img {
        width: 260px;
    }
    .content_wrap-grid-item:nth-child(3) {
        padding-left: 0;
    }
}